{% extends "base.html" %}

{% block content %}
{% set products_db = Database("db/products.db") %}
<div class="row">
    {% for product in products_db.get_all_products() %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">ID: {{ product.id }}</p>
                <p class="card-text">Цена: {{ product.price|int }} руб.</p>
                <p class="card-text">Местоположение: {{ product.location }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{{ product.url }}" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        <!-- <a href="{{ url_for('add_to_favourites', product_id=product.id) }}" -->
                        <!-- class="btn btn-sm btn-outline-secondary">Добавить в избранное</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
